<div id="content">
  <div class="content_item">
<h2>Impressum</h2>
       <p>Dejan Pantic<br />
       Heinrich-Bingemer-Weg 9a<br />
       60388 Frankfurt<br />
       <br />
       Tel.: +49(0)6109-739167
       Mobil: +49(0)160-96733327<br />
       Email: info@stevia2sweet.com<br />
       www.heatNcool.de<br />
       <br />
       USt-IdNr. DE</p>             
       
<b>Verantwortlich für den Inhalt: Dejan Pantic</b><br />
<p>Alle Rechte, insbesondere die der Vervielfältigung, der Übersetzung, der Verwendung
 in elektronischen bzw. mechanischen Systemen und der Wiedergabe der Homepage und derer
  Internetseiten in jeder Form behält sich der Urheber vor. Dazu gehören auch jede 
  sonstige systematische Auswertung und Verbreitung der Inhalte dieser Homepage. 
  Eine Nutzung der Texte, Programme und Abbildungen, auch auszugsweise, bedarf der 
  vorherigen schriftlichen Zustimmung von Dejan Pantic. In den vorliegenden Inhalten 
  werden eingetragene, registrierte Marken, Handelsnamen und Gebrauchsnamen verwendet. 
  Auch wenn diese nicht als solche gekennzeichnet sind, haben die entsprechenden 
  Schutzbestimmungen volle Geltung.</p>
<b>Haftungsausschluss:</b><br />
<p>Die Inhalte dieser Homepage werden laufend überprüft und erforderlichenfalls aktualisiert. Für Schäden, 
die im unmittelbaren oder übernehmen wir keine Haftung für die Inhalte Dritter.<br />
Keine Abmahnung ohne vorherigen Kontakt!
Sollte der Inhalt oder die Aufmachung dieser Seiten fremde Rechte Dritter oder gesetzliche Bestimmungen verletzen,
so bitten wir um eine entsprechende Nachricht ohne Kostennote. Die Beseitigung einer möglicherweise von diesen 
Seiten ausgehenden Schutzrecht-Verletzung durch Schutzrecht-Inhaber selbst darf nicht ohne unsere Zustimmung stattfinden. Wir garantieren, dass die zu Recht beanstandeten Passagen unverzüglich entfernt werden, ohne dass von Ihrer Seite die Einschaltung eines Rechtsbeistandes erforderlich ist. Dennoch von Ihnen ohne vorherige Kontaktaufnahme ausgelöste Kosten werden wir vollumfänglich zurückweisen und gegebenenfalls Gegenklage wegen Verletzung vorgenannter Bestimmungen einreichen.</p>

<p>Links: Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

<b>Hinweis zum Datenschutz und zur Verwendung von Google Analytics:</b>
<p>Analytics verwendet sog. (Cookies), Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der 
Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website 
(einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird 
diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Website Aktivitäten für die 
Website Betreiber zusammenzustellen und um weitere mit der Website Nutzung und der Internetnutzung verbundene Dienstleistungen
zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben
oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten
der Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser 
Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser 
Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen
Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>

<b>Google Adsense Hinweis:</b><br />
<p>Auf dieser Seite wird Werbung durch Google Adsense angezeigt. Deshalb speichert Ihr Browser eventuell ein von Google Inc.
oder Dritten gesendetes Cookie. Dieses Cookie kann durch Google Inc. oder Dritten ausgelesen werden. Um dieses Cookie zu 
löschen oder die Cookie Behandlung generell zu verändern, konsultieren Sie bitte die Hilfe Ihres Browsers. In der Regel 
finden sich diese Einstellungen unter Extras -> Einstellungen Datenschutz (Firefox) oder unter Extras -> Internetoptionen
-> Datenschutz (Internet Explorer). Wir greifen auf Drittanbieter zurück, um Google Adsense Anzeigen zu schalten, wenn Sie
unsere Website besuchen. Diese Unternehmen nutzen möglicherweise Informationen (dies schließt nicht Ihren Namen, Ihre Adresse,
E-Mail-Adresse oder Telefonnummer ein) zu Ihren Besuchen dieser und anderer Websites, damit Anzeigen zu Produkten und Diensten 
geschaltet werden können, die Sie interessieren. Falls Sie mehr über diese Methoden erfahren möchten oder wissen möchten, 
welche Möglichkeiten Sie haben, damit diese Informationen nicht von den Unternehmen verwendet werden können, klicken Sie hier.</p>

<b>Inhalt des Onlineangebotes:</b><br />
<p>Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, 
zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
