<div class="row">
  <div class="span6">
  <br/>
   <h2>Angebotsanfrage</h2>
     <p>Für weitere Informationen stehen wir Ihnen gerne zur Verfügung. Sie haben Interesse an Stevia? Senden Sie uns eine
      <strong><a href="emailto:dpantic@gmail.com">E-Mail</a></strong> für eine Angebotsanfrage.</p>
  </div>
  <div class="span3 offset3">
  <div class="well">
   <blockquote>
     <h3>Kontakt:</h3><br>
       <p>Mobile:<br/> +49(0)160-96733327</p>
         <p>Telephon: <br />+49(0)6109-739167</p>
         <p>Email: <a href="mailto:dpantic@gmail.com">dpantic@gmail.com</a></p></address>
        <%= link_to(image_tag("twitter.png", :size => "50x44"), "http://www.twitter.com/stevia2sweet1", :title => "twitter") %>
        <%= link_to(image_tag("facebook.png", :size => "48x50"), "http://www.facebook.com/stevia.sweet.96", :title => "facebook") %>
        <%= link_to(image_tag("gplus.png", :size => "45x45"), "https://plus.google.com/u/1/104476268963677560473/posts", :title => "gplus") %>        
  </blockquote>
  </div>
  
