<%= metamagic :title => "Links zu weiteren Stevia Informationen.", 
              :description => "Wie wollen sich mehr Informieren? Hier finden Sie weitere interessante Informationen rund um Stevia.",
              :keywords => %w(stevia info stevia-info) %>

<div id="content">
  <div class="content_item">        
	  <h1>Stevia Info</h1> <br/>	    
	<div class="well">
    <blockquote>
<h2>Hier finden Sie weitere Interessante Themen zu Stevia.</h2>

<h3>Universität Leuven</h3>
<p><i class="icon-home"></i> <a href="http://bio.kuleuven.be/biofys/ESC/German/ESC.htm" target="_blank">Europäisches Stevia Forschungszentrum</a><br />
<i class="icon-home"></i> <a href="http://bio.kuleuven.be/biofys/ESC/English/ESC.htm" target="_blank">Europäisches Stevia Forschungszentrum in Englischer Sprache</a></p>

<h3>Wikipedia</h3>
<p>Wikipedia Enzyklopädie Projekt<br/>
<i class="icon-home"></i> <a href="http://http://de.wikipedia.org/wiki/Stevia_(Süßstoff)" target="_blank">Stevia (Süßstoff)</a></p>

<h3>Gemeinnützige Organisation die sich mit dem follgenden Thema beschäftigt:
<p>Förderung und die Koordination aller Tätigkeiten mit dem Gebiet der Forschung und der gesundheitlichen Aspekte in Bezug
 auf die Pflanze Stevia Rebaudiana und den daraus abgeleiteten Inhaltsstoffen konzentrieren.<br />
<i class="icon-home"></i> <a href="http://eustas.org/ger/index_ger.html" target="_blank">European Stevia Association (EUSTAS)</a></p>

<h3>efsa</h3>
<p> Bewertet die Sicherheit von Steviolglycosiden:<br/>
<i class="icon-home"></i> <a href="http://www.efsa.europa.eu/de/press/news/ans100414.htm" target="_blank">efsa European Food Safety Authority</a></p>
  </blockquote>
</div>

 
  

  


 
