<%= metamagic :title => "Stevia Rezepte? ", 
              :description => "Stevia Rezept zum ausprobieren.",
              :keywords => %w(stevia-rezepte stevia) %>
              
<div class="center hero-unit">
  <h1>Ihre Rezepte</h1>


  <h2>
    Hier können Sie leckere Rezepte austauschen
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
                            
                  
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8"> 

      <h1>Stevia Rezepte und Tips & Tricks</h1>
      <h3>Stevia Rezepte rund um den Zuckerersatz Stevia</h3>
      <p>Auf dem Markt gibt es Mittlerweile sehr viele Back- und Kochrezepte mit Stevia.
      Während der Zubereitung von Stevia-Rezepten sollte das Stevia-Pulver immer mit den trockenen 
      Zutaten wie dem Mehl gemischt werden. </p>
      <h3>Stevia - Mango Lassi für 4 Portionen</h3>
      <p>150	g	Joghurt	                                        <br/>
      200	ml	Wasser oder Milch	                                <br/>
      200	g	Mango-Fruchtfleisch	                                <br/>
      1	Prise	Kardamom (gemahlen)	                              <br/>
      1	St	Nelke (gemahlen)	                                  <br/>
      1	Prise	Zimt	                                            <br/>
      1	Prise	Ingwerpulver (oder frischen gemahlenen Ingwer)	  <br/>
      1	EL	brauner Zucker od.  eine Prise Stevia Pulver	      <br/>
      etwas	Zitronensaft	                                      <br/>
      etwas	gecrushtes Eis                                      <br/>
      
      <b>Zubereitung für Mango Lassi:</b><br/>
      Die Mango in kleine Würfel schneiden und gemeinsam mit den anderen Zutaten im Mixer pürieren. Mit gecrushtem Eis servieren oder vor dem Servieren noch mal in den Kühlschrank stellen.
      Den Zimt kann man auch als Deko auf den Mango Lassi streuen. Ferner kann man den Drink mit einem Minzeblatt dekorieren.</p>
    <br/>
    <h3>Erfrischungsgetränk für Sportler oder zum Abnehmen</h3>
    100	ml	Orangensaft	 <br/>
    70	g	Eiswürfel	     <br/>
    150	cl	Mate-Tee	   <br/>
    50	g	Buttermilch	   <br/>
    1/2	EL	Zitronensaft <br/>
    Prise Stevia Pulver  <br/>
    <b>Zubereitung für Erfrischungsgetränk für Sportler:</b><br/>
    Mate-Tee aufbrühen und abkühlen lassen. Anschließend zusammen mit den übrigen Zutaten in einen Universalmixer geben.
    Mate-Tee, in Südamerika eine Art Nationalgetränk, ist in den letzten Jahren auch in Europa immer beliebter geworden. Wir haben Mate-Tee für dieses Getränk ausgewählt, weil ihm eine belebende und erfrischende Wirkung nachgesagt wird.
    Deshalb schmeckt dieser Drink besonders gut nach einem anstrengenden Lauf oder nach einer langen Radtour.
    </div>
    <div class="span4">
       <h1>Tips & Tricks</h1>
       <p>Stevia Pulver immer mit Mehl, Milch oder Wasser mischen.</p>
    </div>
  </div>
</div>