<%= metamagic :title => "Stevia Pulver, ein anderer Zuckerersatz.", 
              :description => "Stevia Pulver, der Zuckerersatz der bis zu 400-mal süßer als Zucker ist.",
              :keywords => %w(stevia-kaufen stevia Zuckerersatz) %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7">
      <h1>Stevia Pulver</h1>
      <p>Stevia Pulver ist ein hervorragender Zuckerersatz. Diese Stevia Pflanze kann bis zu 1m wachsen und die Staude ist um ein vielfaches süßer als üblicher Zucker. 
      Die Stevia-Extraktion kann bis zum 400-fachem des üblichen Zuckers betragen.</p>
    </div>
    <div class="span10">
     <h1>Verschiedene Stevia Pulver Sorten</h1>
      <h2>Hier finden Sie eine Auflistung der verschiedenen Stevia Pulver Extraktionen</h2>
        <p> Stevia Pulver ist eine ...</p>
    </div>
  </div>
</div>