<%= metamagic :title => "Stevia Gesundheit? Alles über die gesundheitlichen Aspekte.", 
              :description => "Bei Konsum von Produkten geht die Gesundheit vor, weitere Interessante Themen finden sie unter Stevia Gesundheit.",
              :keywords => %w(stevia-gesundheit stevia-diabetes, stevia-blutdruck) %>
<div class="row">
  <div class="span12">
   <h1>Stevia Gesundheit Themen</h1><br/>	    
	<div class="well">
   <blockquote>
<h2>Was erwartet Sie hier?
   <p><%= image_tag "stevia kraut.jpg", :class => "imgClassStevia", :size => "100x100", :alt => "Stevia", :title => "Stevia" %></p>
   <p>Bei stevia2sweet finden Sie fast alles über die Staude aus der der Süßstoff gewonnen wird der bis zu 300 mal süßer sein kann als üblicher Zucker.
   Auf den folgenden seiten finden Sie nähere Informationen und wiessenswertes über den neuen Zuckerersat über den die ganze Welt spricht</p>
   <p>Aus gesundheitlicher siche wird die Stevia Pflanze auch im medizinischen Bereich verwendet, wir zur Bekämmpfung von Übergewicht, Bluthochdruck und Sodbrennen die Pflanze ist auch auch Karies vorbäugend. </p>
   <p>Stevia findet auch Verwändung bei Dieten, da die Stevia-Extrakte praktisch kalorienfrei sind.</p>
   <p>Wo kann man <strong>Stevia kaufen</strong>, nun mittlerweile gib es den Zuckerersatz in ein paar Reformhäusern oder <a href="/shop/">hier</a> bei stevia2sweet.</p>    
   </blockquote>