<%= metamagic :title => "Stevia Zuckerersatz der auch schmeckt.", 
              :description => "Stevia Zuckerersatz, der günstigste Weg zum Zuckerersatz ist über eine Angebotsanfrage.",
              :keywords => %w(stevia-zuckerersatz zuckerersatz stevia Stevia-Rebaudiana stevia-produkte süßstoff) %>
<div id="content">
  <div class="content_item">        
	  <h1>Stevia Zuckerersatz</h1> <br/>	    
	<div class="well">
    <blockquote>
		  <p><%= image_tag "stevia kraut.jpg", :class => "imgClassStevia", :size => "190x170", :alt => "Stevia", :title => "Stevia" %></p>
      <p>Im Handel gibt es eine vielzahl von Stevia-Produkten, diesbezüglich sollte man aufpassen, was in dem Zuckerersatz auch drin ist. Den bei den Produkten
      können unterschliedliche Zusätze auf den Preis unterschiedliche Auswirkungen haben. Stevia Produkte als Zuckerersatz gibt es in Pulverform, 
      als Flüssigsüßmittel, als Tabletten (Tabs) oder als natürliche Stevia Blätter, man kann damit wie gewöhnlich seinen Tee, Kaffee, Softdrinks, Gerichte und Gebäcke süssen.
      
      Der Stevia Zuckerersatz, gewonnen durch die Stevia Extraktion werden aus den Blättern der <strong>Stevia Rebaudiana</strong> Bertoni Pflanze gewonnen.
      Die Stevia Exstrakte haben einen breiten Kreis der Verwendung als Süssungsmittel.
      Mit Stevia Pulver kann man zum Beispiel getroknetes Obst, Milchprodukte, Deserts, Süßichkeiten, Kompots etc. wie auch zur Herstellung von Dietalischen Gerichten verwenden.
      Da der Zuckerersatz Stevia auch bei ca. 200ºC stabil ist kann man ihn auch zum kochen und backen verwenden.</p>
      <p>Wo kann man den Zuckerersatz <strong>Stevia kaufen</strong>, nun mittlerweile gib es den Zuckerersatz in ein paar Reformhäusern oder bei <a href="/shop/">stevia2sweet</a>.</p>    
    </blockquote>
  </div>
  
   <div class="well">
       <blockquote>
         <h3>Vorteile vom Stevia Zuckerersatz:</h3>
          <div style="float:right;"><%= image_tag "stevia.jpg", :size => "210x190", :alt => "Stevia", :title => "Stevia Pflanze" %></div>
         
        <ul><p>
        <li>Zuckerersatz Stevia oder Steviosid sind ohne Kalorien.</li>
        <li>Blätter der Stevia Pflanze ist ein natürlicher Zuckerersatz.</li>  
        <li>Ist kein synthetisches Produkt.</li>
        <li>Sehr große Süßkraft bis zu 450-fachen vom Zucker</li>             
        <li>Verwendung in Getränken und Speißen.</li>            
        <li>Stevia Blätter als auch den Stevia Extrakt kann man zum süßen verwenden</li>             
        <li>Temperaturbeständig bis 200°C.             
        <li>Kleine Mengen von Stevia reichen aus um Speisen, Gätrenke zu süßen.</li>
        <li>Stevia ist ohne Einschrenkung Wissenschaftlich getestet.</li>            
        <li>Für Diabetes-mellitus Typ-2 Patienten geeignet.</li>            
        <li>Ist nicht kariogen.</li>            
        <li>Hemmt Karies sowie Parodontose.</li>          
        <li>Ist stark antioxidativ.</li>            
        <li>Bei hohen Blutdruck wirk Stevia senkend, sonst keine Auswirkung.</li></p>        
        </ul>
      </blockquote>
  </div>  
  
  <iframe src="http://rcm-de.amazon.de/e/cm?t=stevia2sweet-21&o=3&p=26&l=ur1&category=lebensmittelundgetraenke&banner=0N1JREWW61PR9BEQ8A02&f=ifr" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  <iframe src="http://rcm-de.amazon.de/e/cm?t=stevia2sweet-21&o=3&p=26&l=ur1&category=lebensmittelundgetraenke&banner=0N1JREWW61PR9BEQ8A02&f=ifr" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe><br />
    <br />
    
   <div class="well">
     <blockquote>
       <h3>Zulassung vom Stevia Zuckerersazt</h3>
         <p>Obwohl schon damals in den 80-Jahren der Stevia Zuckerersatz in Japan um die 2000 Tonnen verbraucht wurde, hat dieser Süßstoff mittlerweile
          in der gesamten EU auch das Grüne Licht bekommen und ist sommit für Lebensmittel, Getränken wie auch in Pflegeprodukten erlaubt. 
         Stevia ein Süßstoff ohne Kalorien, im weiteren Sinne wird auch das durch Extraktion gewonnene Gemisch
          der Stevia Pflanze als Steviosid bezeichnet.</p>
         <p>Steviolglycoside wurden am 12. November mit Wirkung zum 2. Dezember 2011 in der EU unter der Bezeichnung E 960 als 
         Lebensmittelzusatzstoff zugelassen. </p>
      </blockquote>
   </div>

