
<%= metamagic :title => "Was ist Stevia? Ein anderer Zuckerersatz.", 
              :description => "Überblick über, was ist Stevia?",
              :keywords => %w(was-ist-stevia stevia zuckerersatz zuckerersatz-stevia) %>
<div id="content">
  <div class="content_item">
  <br/>
<h1>Was ist Stevia?</h1>
<h2>Lernen Sie die Stevia Pflanze als Zuckerersatz kennen.</h2><br/>
  <div class="well">
     <blockquote>
         <p>Stevia ist eine Art Staude eine Krautartige Pflanze, deswegen wird sie auch als Süßkraut oder Honigkraut bezeichnet, es ist aus der Südamerikanischen Region stammende Pflanze
          deren Blätter einem einzigartigen süssen Geschmack haben. Stevia als Zuckerersatz mit "0 kcal" wird heutzutage weltweit immer mehr zum süßen eingesetzt. Nach Amerika, 
         Asien und Australien hat die Pflanze auch das grüne Licht in Europa bekommen um lebensmittel zu süßen. 
         Tag um Tag wird Stevia immer mehr zum süßen verwendet. Aus der Pflanze werden Tabletten, Pulver und Sirup
         wie auch zerhackte Blätter hergestellt. Die Herstellung des Süßstoffes ist von 30 mal und kann eine Süßkraft bis zu 300-450 mal süßer 
         sein als herkömmlicher Zucker. Die Stevia Extraktion sind ökonomisch und werden aus natürlichen Pflanzen gewonnen, die 
         Herstellung wird 
         <%= image_tag "stevia pflanze.jpg", :size => "180x150", :alt => "Stevia", :title => "Stevia Pflanze", :class => "imgClassHome1" %>
         </p>

         <p>ohne weiterer chemischer Zusätze hergestellt. Die Stevia Extrakte haben keine Kalorien, und sind somit ideal zum süßen von Speisen 
         und während einer Diät die idealle Lösung, weiterhin haben die Steva Extrakte keinen Einfluss auf den Blutzucker und demzufolge können 
         auch Diabetiker Stevia benutzen. Den Süßstoff Stevia kann man auch zum Kochen und Backen (Temperaturen bis zu 198ºC) verwenden und noch 
         dazu ist Stevia nicht kariogen und gut für die Zähne.</p>
     </blockquote>
</div>

<div class="well">
    <blockquote>
         <h3>Wird mir der Zuckerersatz Stevia gefallen? Wird meine Familie den unterschied zwischen Zucker  und Stevia feststellen?</h3>
         <p><%= image_tag "stevia zucker.jpg", :size => "180x140", :alt => "Stevia", :title => "Stevia Pflanze", :class => "imgClassHome2" %></p>
         <p>Die Frage ist legitim. Um die Frage zu beantworten müssen sie den Stevia Extrakt einfach probieren. 
         Bei der ersten Verwendung von Stevia oder zum testen empfehlen wir erst 50% dann 60 oder 70% bis sie schließlich
         den Zucker durch Stevia ersetzt haben. Wenn sie allmählich den gebrauch von Stevia erhöhen und verwenden wird die
         Familie es auch nicht bemerken. Nahezu alle Speisen und Getränke können sie mit dem Stevia Extrakt süssen und viele
         Speißen sind mit dem Stevia Pulver herstellbar.</p>
         <p>Stevia ist nicht karamellisierbar. Eine kleine Menge Stevia gibt Früchtekuchen und Milcherzeugnissen eine angenehme Süße Geschmacksrichtung. </p>
   </blockquote>
</div>

