/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
= require_tree .
*/

p {
  padding: 0, 0, 20px, 10px;
  line-height: 1.2em;
  font-size: 120%;
}

#footer {
	background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#000), to(#333333));
  background: -moz-linear-gradient(top,  #333333, #333333);
  border-top: 1px solid #000000;
  clear: both;
  color: #FFFFFF;
  font: 110% verdana,arial,helvetica,sans-serif;
  height: 40px;
  letter-spacing: 1px;
  marging: 10px 10px 0px 0px; 
  padding: 5px;
  text-indent: 30px;  
	border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
/*  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1.0;*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; 
  font-family: verdana, arial, helvetica, sans-serif;
}

.adsense {
	 padding: 0;
   float: center;
	 margin-top: 5px;
	 margin-bottom: 10px;
	 margin-left: 120px;
}

#footer_container {
  margin: 0 auto;
} 

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    color: #C1FFC1;
    text-decoration: none;
}

.social {
  float: right;
  padding: 15px;
	 border-left: 1px solid white;
	 border-right: 1px solid #fff;	 
}

/*.well {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  .border-radius(5px);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}*/

li {
	line-height: 1.8em;
  font-size: 110%;
}
